<div class="logout-container">
    <div class="logout-content">
        <div class="brand-large">
            <span class="dot-large"></span>
            EduSmart
        </div>
        <h1>You have been logged out.</h1>
        <p class="message">Thank you for using the Student Portal. New features are coming soon!</p>
        <div class="loader"></div> <button class="btn-primary" routerLink="/login">Return to Login</button>
    </div>
    <div class="coming-soon-container">
        <h1>EduSmart</h1>
        <h2>Coming Soon</h2>
        <p>You Have Successfully Logged Out</p>
        <button routerLink="/login"> Go to Login</button>

    </div>
</div>
 
